<ion-view view-title="Perfil">
  <ion-content>
   <div class="list card">
        <ion-item class="profile-item">
          <div class="profile-picture big-profile-picture">
            <img src="../img/perfil_hombre1.jpg">
          </div>
          <div class="list card">
          <h2 class="profile-name dark">Jaime Martinez</h2>
          
         
          <a class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                      25 de octubre de 1985
            </a>

        <a class="item item-icon-left">
                <i class="icon ion-android-locate"></i>
                      Arequipa - PERÜ
            </a>

   <div class="profile-info">
       Estudiante de ingenieria de la Universidad UANCV<br>
       Termino el colegio con honores<br>
       Trabaja en El banco
       </div>
          
        </ion-item>
      </div>
  </ion-content>
</ion-view>
