<ion-view view-title="Perfil">
  <ion-content>
   <div class="list card">
        <ion-item class="profile-item">
          <div class="profile-picture big-profile-picture">
            <img src="../img/perfil_hombre1.jpg">
          </div>
          <div class="list card">
          <h2 class="profile-name dark">Benjamin Pareja</h2>
          
         
          <a class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                      25 de Diciembre del 2015
            </a>

        <a class="item item-icon-left">
                <i class="icon ion-android-locate"></i>
                      Arequipa - PERÜ
            </a>

   <div class="profile-info">
       muuuuuucho texto se deberia escribir aqui</div>
           <!--i class="icon ion-chatbubble-working"> <p>25 de Diciembre del 2015</p></i>
          </div>
          <ion-slide>
            <h3>Thank you for choosing the Awesome App!</h3>
            <div id="logo">
              <img src="http://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
              We've worked super hard to make you happy.
            </p>
            <p>
              But if you are angry, too bad.
            </p>
          </ion-slide>
        </ion-item>
        <ion-item class="profile-item">
          <button class="button button-block button-positive" ng-click="logIn()">
            Login
          </button>
        </ion-item>
      </div>
  </ion-content>
</ion-view>
