<ion-view view-title="{{pelicula.titulo}}">
  <ion-content>
    <div class="list card">
      <div class="item item-image">
        <img ng-src="{{pelicula.imagen}}" ng-click="showVideo(pelicula.id)">
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur cum in voluptates, excepturi vel magni dolorem nobis. Unde distinctio optio, ipsam aperiam omnis nemo esse, fugit sunt ut qui consectetur!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nam velit nihil labore enim quibusdam delectus? Illo ipsum, voluptas necessitatibus optio nesciunt voluptatibus ex distinctio saepe quisquam nisi, deleniti, repudiandae.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur minima sapiente perspiciatis error cumque quia natus repellendus suscipit maxime blanditiis atque accusantium omnis quas illo officia dolore exercitationem, non animi.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, expedita eius numquam, laborum deserunt veritatis! Sit recusandae tempora nobis eligendi, ratione eveniet quasi cum velit earum iure beatae exercitationem odit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </ion-content>
</ion-view>
