<ion-view view-title="Videos">
  <ion-content>
    <h1 class="center">Videos</h1>

    <div class="row" ng-repeat="itemtmp in peliculas|limitTo:(peliculas.length/2)">

      <div class="center col" ng-repeat="pelicula in peliculas.slice($index*2,($index*2+2))">
        <div class="list card">
          <div class="item item-image">
            <img ng-src="{{pelicula.imagen}}" ng-click="showVideo(pelicula.id)">
          </div>
          <a class="item item-icon-right assertive" href="#/app/video/{{pelicula.id}}">
            <i class="icon ion-ios-more"></i>
             {{pelicula.titulo}}
          </a>
        </div>
      </div>
    </div>

  </div>



  </ion-content>
</ion-view>
